/* 引入自定义字体 */
@font-face {
    font-family: 'Shin Maru Go Pro';
    src: url('A-OTF Shin Maru Go Pro H.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('bj.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0); /* Fully transparent background */
    padding: 1em 0;
    display: inline-block; /* Ensure header only takes up as much space as needed */
}

#current-time {
    font-size: 3em;
    color: #00bfff; /* Azure color */
    font-weight: bold; /* Make text bold */
    font-family: 'Shin Maru Go Pro', Arial, sans-serif; /* Use custom font */
    margin: 0; /* Remove default margin */
}

#date-time p {
    font-size: 1.2em;
    font-family: 'Shin Maru Go Pro', Arial, sans-serif; /* Use custom font */
    margin: 0; /* Remove default margin */
}

#social-media {
    margin: 4em 0; /* Move social media links lower */
}

.social-icon {
    color: #007bff;
    font-size: 2em;
    margin: 0 1em;
    text-decoration: none;
}

.social-icon:hover {
    color: #0056b3;
}

.social-icon i {
    background: none;
}